/* This is just an example.  You shouldn't do this. */

.popup-notification-icon[popupid="gprmon-popup"] {  
  list-style-image: url("chrome://gprivacy/skin/icon.png");  
}

.popup-notification-icon[popupid="gprmon-popup-tracking"] {  
  list-style-image: url("chrome://gprivacy/skin/tracking.png");
}

.popup-notification-icon[popupid="gprmon-popup-modified"] {  
  list-style-image: url("chrome://gprivacy/skin/modified.png");  
}


#gprmon-notification-icon {
  list-style-image: url("chrome://gprivacy/skin/icon16.png");  
}

#gprivacy-hello
{
  color: red ! important;
}
#gprivacy-toolbar-button
{
  list-style-image: url("chrome://gprivacy/skin/toolbar-button.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#gprivacy-toolbar-button:hover
{
  -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] #gprivacy-toolbar-button
{
  -moz-image-region: rect( 0px 40px 16px 24px);
}
[iconsize="small"] #gprivacy-toolbar-button:hover
{
  -moz-image-region: rect(24px 40px 40px 24px);
}
